# R Project Stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
# IPUMS NHGIS
Data/nhgis0001_csv/
# Daily Temperature Data (it's big!)
Data/batch1GoodData.csv
Data/batch2GoodData.csv
Data/batch3GoodData.csv
Data/allTemps.csv
Data/standardizedTemps.csv